<aside>

    <a href="/admin" class="list-group-item active">后台首页</a>

 
        <a href="/admin/coustors" class="list-group-item">
           管理员列表</a>
        <a href="/admin/coustors/add" class="list-group-item">
            增加管理员</a>

    <a href="#" class="list-group-item active">用户管理</a>

    <a href="/admin/user" class="list-group-item">
        用户列表</a>
    <a href="/admin/user/add" class="list-group-item">
        增加用户</a>

     <a href="#" class="list-group-item active">门店管理</a>
    <a href="/admin/shop" class="list-group-item">
        门店列表</a>
    <a href="/admin/shop/add" class="list-group-item">
        增加门店</a>

    <a href="#" class="list-group-item active">订单管理</a>

    <a href="/admin/order" class="list-group-item">
        订单列表</a>
    <a href="/admin/order/add" class="list-group-item">
        增加订单</a>

   


</aside>