<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>

    <script src="/xheditor/jquery/jquery-1.11.2.min.js" charset="utf-8"></script>
    <script src="/xheditor/xheditor-1.2.2.min.js" charset="utf-8"></script>
    <script src="/xheditor/xheditor_lang/zh-cn.js" charset="utf-8"></script>

</head>

<body>
    <!--The content below is only a placeholder and can be replaced.-->

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">

    <link rel="stylesheet" href="/css/basic.css">


    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">

                <img src="/images/node.jpg" height="44px;" />

            </div>
            <div class="collapse navbar-collapse" id="example-navbar-collapse">
                <ul class="nav navbar-nav">

                    <li class="active"><a href="#">商品管理</a>
                    </li>
                    <li class="active"><a href="#">系统设置</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a>欢迎您,admin</a>
                    </li>
                    <li><a href="#">安全退出</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">

                <%include ../public/aside%>

            </div>
            <div class="col-sm-10">
                <ol class="breadcrumb">
                    <li class="active">店铺管理
                    </li>
                    <li class="active">店铺详情
                    </li>
                </ol>
                <div class="panel panel-default">

                    <div class="panel-heading">
                        增加用餐用户
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive input-form">
                            <form action="/admin/shop/doAdd" method="post" enctype="multipart/form-data">
                                <ul>


                                    <li>店 名: <input type="text" name="name" /></li>
                                    <li>店铺图片: <input type="file" name="pic" /></li>
                                    <li>描述: <input type="text" name="description" /></li>
                                    <li>地址: <input type="text" name="address" /></li>
                                    <li>电话: <input type="text" name="tel" /></li>
                                    <li>用餐时间: <input type="text" name="add_time" /></li>
                                    <li>状态 :<input type="text" name="status" /></li>
                                    <!-- <li> 分　　类 :

                                        <select name="cid" id="cid">



                                    </select>


                                    </li> -->
                                    <!-- 
                                    <li>
                                        新闻描述: <br/>
                                        <textarea name="description" id="" cols="60" rows="8"></textarea>
                                    </li>


                                    <li>
                                        内容 <br/>
                                        <textarea name="content" id="content" cols="60" rows="8"></textarea>
                                    </li>
                                    <li> 作　　者: <input type="text" name="author" /></li>
                                    <li> 发布时间: <input type="text" name="timer" /></li> -->

                                    <li>
                                        <br/>
                                        <button type="submit" class="btn btn-default">提交</button>
                                    </li>

                                </ul>


                            </form>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>

    <script type="text/javascript">
        //        var cid = document.getElementById('cid');
        //
        //
        //        var catename = document.getElementById('catename');
        //        var options = cid.getElementsByTagName('option');
        //        cid.onchange = function() {
        //
        //            for (var i = 0; i < options.length; i++) {
        //                if (options[i].selected) {
        //
        //                    catename.value = options[i].innerHTML;
        //                }
        //
        //            }
        //
        //        }


        //$('#elm1').xheditor();

        //    $('#content').xheditor();

        //        $('#content').xheditor({
        //            html5Upload: false,
        //            /*必须设置*/
        //            upMultiple: '3',
        //            /* bug*/
        //            tools: 'full',
        //            skin: 'default',
        //            width: 500,
        //            height: 400,
        //            upImgUrl: "/admin/news/upload",
        //            /*post图片的地址*/
        //            upImgExt: "jpg,jpeg,gif,png"
        //        });
    </script>

</body>

</html>